In [28]:
import pandas as pd
import numpy as np

In [29]:
df_city_consituency = pd.read_csv('cities_constituency_data.csv')
columns_city_consituency_to_drop = ['geo_type', 'index', 'state']
df_city_consituency = df_city_consituency.drop(columns=columns_city_consituency_to_drop)

In [30]:
df_city_consituency.head()

,fips,geo_name,population_2020,mass_ideology_2020,mass_ideology_2020_se,pres_pctD_20,pres_pctD_16,pres_pctD_08,percent_women,percent_white,percent_black,percent_hispanic,percent_asian_american
0,103076,Auburn city,76143,-0.088350,0.077727,0.470241,0.456319,0.852831,0.501530,0.685890,0.183595,0.033378,0.091001
1,107000,Birmingham city,200733,-0.145305,0.043366,0.822814,0.825319,0.820044,0.528175,0.237912,0.698536,0.038620,0.012139
2,120104,Decatur city,57938,0.212484,0.073699,0.406781,0.360282,0.372059,0.521440,0.608282,0.225651,0.134605,0.004828
3,121184,Dothan city,71072,0.192381,0.064027,0.353084,0.317088,0.328330,0.525348,0.592394,0.335773,0.034112,0.015465
4,135896,Hoover city,92606,-0.004579,0.065531,0.423451,0.335830,0.284689,0.528054,0.679530,0.188494,0.061227,0.058855

In [31]:
# 1) remove '1600000US' from the first column 'Geography' in file 'city_race.csv'
# 2)

In [32]:
df_city_race = pd.read_csv('city_race.csv')
nan_counts = df_city_race.isna().sum()

In [33]:
df_city_race['Geography'] = df_city_race['Geography'].str.replace('1600000US', '')

In [34]:
# Drop columns whose names start with "Margin of Error"
columns_to_drop = [col for col in df_city_race.columns if col.startswith("Margin of Error")]
df_city_race = df_city_race.drop(columns=columns_to_drop)

In [37]:
df_city_race.tail(100)

,Geography,Geographic Area Name,Estimate!!Total,Estimate!!Total!!White alone,Estimate!!Total!!Black or African American alone,Estimate!!Total!!American Indian and Alaska Native alone,Estimate!!Total!!Asian alone,Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total!!Some other race alone,Estimate!!Total!!Two or more races,Estimate!!Total!!Two or more races!!Two races including Some other race,"Estimate!!Total!!Two or more races!!Two races excluding Some other race, and three or more races"
29414,7252431,"Mayagüez zona urbana, Puerto Rico",72346,46341,3317,63,213,7,19902,2503,276,2227
29415,7253678,"Miranda comunidad, Puerto Rico",2253,2206,19,0,0,0,28,0,0,0
29416,7253807,"Moca zona urbana, Puerto Rico",4841,4558,147,0,0,0,88,48,48,0
29417,7253979,"Monserrate comunidad, Puerto Rico",2600,2433,89,20,0,0,51,7,7,0
29418,7254366,"Monte Grande comunidad, Puerto Rico",3170,2924,79,0,0,0,145,22,22,0
...,...,...,...,...,...,...,...,...,...,...,...,...
29509,7286014,"Vieques zona urbana, Puerto Rico",2220,1424,396,0,0,0,293,107,0,107
29510,7286831,"Villalba zona urbana, Puerto Rico",4475,2947,105,0,0,0,1226,197,7,190
29511,7287863,"Yabucoa zona urbana, Puerto Rico",6032,3630,540,38,0,0,352,1472,12,1460
29512,7288035,"Yauco zona urbana, Puerto Rico",17951,16233,401,159,7,0,788,363,198,165
29513,7288121,"Yaurel comunidad, Puerto Rico",1272,177,193,0,0,0,100,802,0,802

In [38]:
# Assuming `df_city_race` is your DataFrame
# Example DataFrame structure for reference
# df_city_race = pd.read_csv('ACSDT5Y2010.B02001-Data.csv')

# Exclude specific columns
columns_to_exclude = ['Geography', 'Geographic Area Name', 'Estimate!!Total']
columns_to_modify = [col for col in df_city_race.columns if col not in columns_to_exclude]

# Replace each column's value with its value divided by the "Estimate!!Total" column (assuming it's named '72346')
for col in columns_to_modify:
    df_city_race[col] = (df_city_race[col] / df_city_race['Estimate!!Total']) * 100  # Multiply by 100 to conver

In [42]:
df_city_race[df_city_race["Geographic Area Name"]=="Mayagüez zona urbana, Puerto Rico"]

,Geography,Geographic Area Name,Estimate!!Total,Estimate!!Total!!White alone,Estimate!!Total!!Black or African American alone,Estimate!!Total!!American Indian and Alaska Native alone,Estimate!!Total!!Asian alone,Estimate!!Total!!Native Hawaiian and Other Pacific Islander alone,Estimate!!Total!!Some other race alone,Estimate!!Total!!Two or more races,Estimate!!Total!!Two or more races!!Two races including Some other race,"Estimate!!Total!!Two or more races!!Two races excluding Some other race, and three or more races"
29414,7252431,"Mayagüez zona urbana, Puerto Rico",72346,64.054682,4.584911,0.087082,0.294418,0.009676,27.509468,3.459763,0.3815,3.078263